.gameboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.gameboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  gap: 12px;
}

@media (min-width: 620px) {
  .gameboard-grid {
    display: grid;
    grid-template-columns: repeat(4, min(15vw, 150px));
    gap: 15px;
  }
}
